.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(phone){
        padding: 0
    }


    // Hamburger menu
    &__ham-menu{
        display: none;
        width: 5rem;
        padding: 2.2rem 0;

        @include respond(phone){
            display: block;
        }

        &--open{
            width: 100%;
        }

        &--close{
            width: 100%;
        }
    }

    &__sm-menu{
        background: #fff;
        position: absolute;
        width: 100vw;
        top: 100%;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

        &-link{
            list-style: none;
        }

        &--active {
            visibility: hidden;
            opacity: 0;

            @include respond(phone){
                visibility: visible;
                opacity: 1;
            }
        }

        &-link:first-child a {
            border-top: 1px solid #eee;
          }

        &-link-last {
            border-bottom: 0;
        }

        &-link a {
            display: block;
            text-decoration: none;
            padding: 2.5rem 5rem;
            font-size: 2.3rem;
            color: #333;
            text-align: center;
            border-bottom: 1px solid #eee;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: color 0.3s;

            &:hover {
                color: $color-primary;
              }
          }
    }

    // Normal kod
    &__title {
        flex: 1;
        max-width: 115rem;
        display: grid;
        grid-template-columns: 3fr 2fr;
        row-gap: 3rem;
        align-content: center;
        justify-content: center;
        align-items: start;
        justify-items: start;
        padding: 0 5rem;


        @include respond(phone){
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 30% 0;
            text-align: center;
        }
    }

    &__img {
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / span 4;

        @include respond(tab-land){
            width: 95%;
        }

        @include respond(phone){
            width: 70%;
        }
    }
}