.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 0 6rem;

    // @include respond(tab-land){
    //     gap: 4rem;
    // }

    @include respond(tab-port){
        gap: 4rem;
        margin: 0 1rem;
    }

    @include respond(phone){
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        margin: 0 3rem;
    }

    &__header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__img {
        width: 100%;
        border-radius: 10px;
        transition: 0.5s;

        &:hover {
            scale: 1.03;
        }
    }

    &__feature {
        align-self: center;
        justify-self: center;
        width: 90%;
        font-size: 1.5rem;

        @include respond(tab-land){
            width: 100%;
        }

        @include respond(phone){
            display: contents;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary-opacity;
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        margin-bottom: 2rem;

        & i{
            height: 2.5rem;
            width: 2.5rem;
            font-size: 20px;
            fill: $color-primary;

            @include respond(phone){
                font-size: 12px;
                height: auto;
                width: auto;
            }
        }
    }
}

.icons {
    color: $color-primary;
}

