.operations {
    max-width: 100rem;
    margin: 12rem auto 0 auto;
    background-color: #fff;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;

        &--1 {
            background-color: $color-secondary-opacity;
        }

        &--1 svg {
            fill: $color-secondary-darker;
        }

        &--2 {
            background-color: $color-primary-opacity;

            & svg {
                fill: $color-primary;
            }
        }

        &--3 {
            background-color: $color-tertiary-opacity;

            & svg {
                fill: $color-tertiary;
            }
        }
    }

    &__header {
        font-size: 2.25rem;
        font-weight: 500;
        align-self: center;
    }

    &__content {
        display: none;
        font-size: 1.7rem;
        padding: 2.5rem 7rem 6.5rem 7rem;

        &--active {
            display: grid;
            grid-template-columns: 7rem 1fr;
            column-gap: 3rem;
            row-gap: 0.5rem;
        }

        & p {
            grid-column: 2;
        }
    }

    &__tab-container {
        display: flex;
        justify-content: center;
    }

    &__tab {
        margin-right: 2.5rem;
        transform: translateY(-50%);

        &--active {
            transform: translateY(-66%);
        }

        & span {
            margin-right: 1rem;
            font-weight: 600;
            display: inline-block;
        }

        &--1 {
            background-color: $color-secondary;

            &:hover {
                background-color: $color-secondary-darker;
            }
        }

        &--3:hover {
            background-color: $color-tertiary-darker;
        }

        &--3 {
            background-color: $color-tertiary;
            margin: 0;
        }
    }
}

.tabIcon1 {
    color: $color-secondary-darker;
    font-size: 20px;

    @include respond(phone){
        font-size: 12px;
    }

    @include respond(big-desktop){
        height: auto;
        width: auto;
        font-size: 25px;
    }
}

.tabIcon2 {
    color: $color-primary-darker;
    font-size: 20px;

    @include respond(phone){
        font-size: 12px;
    }

    @include respond(big-desktop){
        height: auto;
        width: auto;
        font-size: 25px;
    }
}

.tabIcon3 {
    color: $color-tertiary-darker;
    font-size: 20px;

    @include respond(phone){
        font-size: 12px;
    }

    @include respond(big-desktop){
        height: auto;
        width: auto;
        font-size: 25px;
    }
}
